@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo{
    font-family: 'Mr Dafoe', cursive;
    font-size: 30px;
    font-weight: 400;
    
}


.resimSlider img{
    height: 600px;
}
.hakimizda{
    background-color:#f2f2f2 ;
}
.ayrac{
   
    border:none;
    border-top: 3px solid #000000;
    max-width: 250px;
    margin: 25px auto;
}
.ibeyaz{
    color:  #747678;
    position: relative;
    top: -60px;
    font-size: 50px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;


}
.ekipcard img:hover{
    opacity: 0.8;
}
.ekibimiz{
    background-color:#d8d4d4 ;
}
.iekip{
    color:  #747678;
    position: relative;
    top: -60px;
    font-size: 50px;
    border: 10px solid #d8d4d4;
    background-color:#d8d4d4 ;


}


.galerimiz{
    background-color:#f2f2f2 ;
}
.galeri img:hover{
    opacity: 0.8;
}
.iletisim{
    background-color:white ;
}
.igri{
    color:  #747678;
    position: relative;
    top: -60px;
    font-size: 50px;
    border: 10px solid white;
    background-color:white;


}
